:root {
  --powderblue: #b6ebdf;
  --white: #FFFFFF;
  --darkgrey: #242424;
  --black: #000000;
}

h1 {
  margin-left: 7%;
}

h3 {
  margin-left: 3%;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: garamond;
  text-align: center;
  margin-right: 5%
}

img {
  margin-left: 3px;
  display: inline-block;
  vertical-align: middle; 
  height: 35px;
  width: 60px;
}

#myDIV {
  background-size: cover;
  background-image: url(https://t3.ftcdn.net/jpg/05/03/82/82/360_F_503828297_1CHZRVpb87cfjhL4sHWKJrF342uogviV.jpg);
  display: none;
  position: absolute;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  margin-left: 30%;
  margin-block-start: 5%;
  height: 350px;
  width: 700px;
  border-style: groove;
  border-color: var(--btnBg);
  border-width: 5px;
}

.light-theme {
    --bg: var(--powderblue);
    --fontColor: var(--darkgrey);
    --btnBg: rgba(167, 167, 167, 0.77);
    --btnFontColor: var(--black);
}
.dark-theme {
    --bg: var(--darkgrey);
    --fontColor: var(--powderblue);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn2 {
  position: absolute;
  top: 20px;
  left: 1300px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}